<app-header></app-header>
<app-board></app-board>
<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Editar nodos
        </mat-panel-title>
    </mat-expansion-panel-header>
    <app-edit-nodes></app-edit-nodes>
</mat-expansion-panel>
<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Editar links
        </mat-panel-title>
    </mat-expansion-panel-header>
    <app-edit-links></app-edit-links>
</mat-expansion-panel>